### 4.1 리스트(List)

In [1]:
a = [3, 7, 12, 16, 23]
type(a)

list

In [3]:
# 파이썬의 리스트 - 모든 자료형의 데이터를 섞어서 사용할 수 있음 
person = ['james', 27, 'programmer', 175.4]
person

['james', 27, 'programmer', 175.4]

- 인덱싱

In [4]:
a[0], a[-1], person[2]

(3, 23)

- 슬라이싱

In [8]:
a[1:4], a[:2], a[::2], a[::-1]

([7, 12, 16], [3, 7], [3, 12, 23], [23, 16, 12, 7, 3])

- 값 변경

In [9]:
a[0] = 1
a[-1] = 31
a

[1, 7, 12, 16, 31]

In [10]:
a[2] = [10, 20]
a

[1, 7, [10, 20], 16, 31]

In [11]:
# 새로 입력한 값 10 인덱싱
a[2][0]

10

In [12]:
# 슬라이싱으로 값을 변경 
a[3:] = [45, 78]        # : 슬라이싱이 붙으면 값이 자체가 변경 됨 [ 묶음 ]이 들어가지 않음
a

[1, 7, [10, 20], 45, 78]

In [13]:
a[:2] = [100, 200, 300]     # 앞에 두개를 세개, 네개, 여러개로 변경 할 수 있음 
a

[100, 200, 300, [10, 20], 45, 78]

In [14]:
a[3][1] = [-1, -3, -5]
a

[100, 200, 300, [10, [-1, -3, -5]], 45, 78]

In [15]:
a[1:2] = [500, 600]
a

[100, 500, 600, 300, [10, [-1, -3, -5]], 45, 78]

In [16]:
# 리스트 맨 뒤에 값을 추가 시키려면 
a[7] = 20       # 이렇게는 안됨 , 아래 참고

IndexError: list assignment index out of range

In [17]:
# 맨뒤에 추가 하고 싶으면 append method 를 사용
a.append(20)
a

[100, 500, 600, 300, [10, [-1, -3, -5]], 45, 78, 20]

- 빈 리스트 만들기

In [18]:
b = []
c = list()

In [19]:
import random
for i in range(5):                      # 1~6번까지 랜덤으로 5번 돌려서 번호 추출
    b.append(random.randint(1, 6))
b

[5, 6, 6, 3, 2]

- 리스트 연산

In [20]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b               # 리스트 연결(concatanation)

[1, 2, 3, 4, 5, 6]

In [21]:
a * 3           # 반복

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [22]:
len(a), type(a)

(3, list)

In [23]:
min(a), max(a), sum(a)

(1, 3, 6)

In [24]:
list(reversed(a))

[3, 2, 1]

In [25]:
sorted(a)

[1, 2, 3]

In [27]:
sorted([55,22,46,1,23,6])       # 작은 수에서 큰 수로 나열

[1, 6, 22, 23, 46, 55]

### Tuple(튜플)
- 일단 생성되면 값을 변경할 수 없다.(immutable)

In [28]:
t = (4, 35, 7, 25, 10)
type(t), t

(tuple, (4, 35, 7, 25, 10))

In [29]:
t = 4, 6, 12
type(t)

tuple

In [31]:
# 1개 원소를 갖는 튜플
x = (4,)       # 한개의 원소를 갖는 튜플은 원소 뒤에 꼭 , 를 붙여야 함, 괄호 ()는 생략 가능하나 , 는 생략 불가
type(x)        # x= 4, 도 가능 , x = (4)는 튜플이 아님

tuple

In [32]:
# 리스트와 동일하게 인덱싱 할 수 있음
t[0]

4

In [33]:
# 튜플이라 값을 변경하거나 추가 할 수 없음
t[0] = 1

TypeError: 'tuple' object does not support item assignment

- List/tuple unpacking

In [34]:
x, y, z =(10, 20, 30)
x, y, z

(10, 20, 30)

In [35]:
x, y, z = [3, 4, 5]
x, y, z

(3, 4, 5)

In [37]:
list('ABC')

['A', 'B', 'C']

In [40]:
x, y, z = list('ABC')
x, y, z

('A', 'B', 'C')