### 4.4 딕셔너리(Dictionary)

In [6]:
person_list = ['Gongjun', 32, 'programmer', 186]
person_dict = {'name': 'Gongjun', 'age': 32, 'job': 'programmer', 'height':186}
# key : name, age, job, heright
# value : Gongjun , 32, programmer, 186

- 인덱싱

In [7]:
person_dict['name'], person_dict['job']

('Gongjun', 'programmer')

In [8]:
key = 'age'
person_dict[key]

32

In [9]:
person_dict.get(key), person_dict.get('height')

(32, 186)

In [10]:
person_dict.keys()

dict_keys(['name', 'age', 'job', 'height'])

In [11]:
person_dict.values()

dict_values(['Gongjun', 32, 'programmer', 186])

In [12]:
person_dict.items()

dict_items([('name', 'Gongjun'), ('age', 32), ('job', 'programmer'), ('height', 186)])

- 복잡한 딕셔너리

In [13]:
terrestrial_planet = {
    'Mercury': {
        'mean_radius': 2439.7,
        'mass': 3.3022E+23,
        'orbital_period': 87.969
    },
    'Venus': {
        'mean_radius': 6051.8,
        'mass': 4.8676E+24,
        'orbital_period': 224.70069,
    },
    'Earth': {
        'mean_radius': 6371.0,
        'mass': 5.97219E+24,
        'orbital_period': 365.25641,
    },
    'Mars': {
        'mean_radius': 3389.5,
        'mass': 6.4185E+23,
        'orbital_period': 686.9600,
    }
}

In [14]:
# 지구의 평균 반지름 
terrestrial_planet['Earth']['mean_radius']

6371.0

In [16]:
terrestrial_planet.keys()

dict_keys(['Mercury', 'Venus', 'Earth', 'Mars'])

In [17]:
terrestrial_planet['Earth'].keys()

dict_keys(['mean_radius', 'mass', 'orbital_period'])

- 딕셔너리 값 변경하기/추가하기

In [18]:
person_dict

{'name': 'Gongjun', 'age': 32, 'job': 'programmer', 'height': 186}

In [19]:
# 기존 key값에 value를 할당하면 값이 변경
person_dict['job'] = 'actor'
person_dict

{'name': 'Gongjun', 'age': 32, 'job': 'actor', 'height': 186}

In [22]:
# 없는 key 값에 value를 할당하면 항목이 추가됨
person_dict['gender'] = '남'
person_dict

{'name': 'Gongjun', 'age': 32, 'job': 'actor', 'height': 186, 'gender': '남'}

In [23]:
person_dict.setdefault('weight')
person_dict

{'name': 'Gongjun',
 'age': 32,
 'job': 'actor',
 'height': 186,
 'gender': '남',
 'weight': None}

In [29]:
person_dict.update(weight=65)
person_dict

{'name': 'Gongjun',
 'age': 32,
 'job': 'actor',
 'height': 186,
 'gender': '남',
 'whight': 65,
 'weight': 65}

- 값 제거하기
    - pop: key를 인수로 주고, 값이 반환되면서 item이 삭제
    - del : 명령어

In [30]:
# dictionary key의 순서가 보장되어 있지 않음 
person_dict.pop('weight')
person_dict

{'name': 'Gongjun',
 'age': 32,
 'job': 'actor',
 'height': 186,
 'gender': '남',
 'whight': 65}

In [31]:
value = person_dict.pop('gender')
value

'남'

In [32]:
person_dict

{'name': 'Gongjun', 'age': 32, 'job': 'actor', 'height': 186, 'whight': 65}

In [33]:
del person_dict['height']
person_dict

{'name': 'Gongjun', 'age': 32, 'job': 'actor', 'whight': 65}

In [34]:
person_dict.clear()
person_dict

{}

- in연산자

In [35]:
'Jupyter' in terrestrial_planet

False