
### Q1. 디지털 시계
- 디지털 시계가 있다
    - 00 : 00 ~ 23 : 59
    - 하루중 3이 표시되는 시간은 몇초인가?
    - 총합계를 구하는것
    - ex) 디지털 시계 안에, 3이라는 숫자가 나올때마다 걸리는 초구함
    -     최소단위 60초(00시 3분이면 1분동안 3이 유지되니까)
    -     13:00~13:59까지는 60초 * 60분  = 360초.. 이런식

In [11]:
seconds =  0 
for hour in range(24):
    for minute in range(60):
        clock = f'{hour:02d}:{minute:02d}'
        if str(3) in clock:
            seconds += 60
print(seconds)

29700

### Q2. 람다함수
다음 리스트에서 제조사와 모델명을 분리해서 별도의 리스트를 만드세요.

cars = ['buick skylark 320','plymouth satellite','anc rebel sst','ford torino']

In [15]:
x = 'buick skylark 320'
y = 'ford torino '
manu = y.split()[0]
model =' '.join(x.split()[1:])
manu, model

('ford', 'skylark 320')

In [17]:
cars = ['buick skylark 320','plymouth satellite','anc rebel sst','ford torino']
manu_list = list(map(lambda x: x.split()[0], cars))
manu_list

['buick', 'plymouth', 'anc', 'ford']

In [19]:
model_list = list(map(lambda x: ' '.join(x.split()[1:]), cars))
model_list

['skylark 320', 'satellite', 'rebel sst', 'torino']

### 29.4 심사문제: 사칙 연산 함수 만들기

표준 입력으로 숫자 두 개가 입력됩니다. 다음 소스 코드를 완성하여 두 숫자의 덧셈, 뺄셈, 곱셈, 나눗셈의 결과가 출력되게 만드세요. 이때 나눗셈의 결과는 실수라야 합니다.

In [10]:
x, y = map(int, input().split())
def calc(a, b):
    return a + b, a - b, a * b, a / b 
a, s, m, d = calc(x, y)
print('덧셈: {0}, 뺄셈: {1}, 곱셈: {2}, 나눗셈: {3}'.format(a, s, m, d))

덧셈: 30, 뺄셈: -10, 곱셈: 200, 나눗셈: 0.5

In [ ]:
# 또 다른 풀이
x, y = map(int, input().split())

def calc(x, y):
    return x+y, x-y, x*y, float(x/y)

a, s, m, d = calc(x, y)
print('덧셈: {a}, 뺄셈: {s}, 곱셈: {m}, 나눗셈: {d}')

### 30.7 심사문제: 가장 낮은 점수, 높은 점수와 평균 점수를 구하는 함수 만들기

표준 입력으로 국어, 영어, 수학, 과학 점수가 입력됩니다. 다음 소스 코드를 완성하여 가장 높은 점수, 가장 낮은 점수, 평균 점수가 출력되게 만드세요. 평균 점수는 실수로 출력되어야 합니다.

In [12]:
korean, english, mathematics, science = map(int, input().split())
def get_average(k, e, m, s):
    return min_score, max_score, get_average(korean+english+mathematics+science)/4

min_score, max_score = get_min_max_score(korean, english, mathematics, science)
average_score = get_average(korean=korean, english=english,
                            mathematics=mathematics, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))
 
min_score, max_score = get_min_max_score(english, science)
average_score = get_average(english=english, science=science)
print('낮은 점수: {0:.2f}, 높은 점수: {1:.2f}, 평균 점수: {2:.2f}'
      .format(min_score, max_score, average_score))

# 내가 푼 틀린 풀이 ㅋ

NameError: name 'get_min_max_score' is not defined

In [4]:
k, e, m, s = map(int, input().split())
def get_min_max_score(*args):
    return min(args), max(args)
def get_average(**kwargs):         # 가변 키워드 함수
    return float(sum(kwargs.values()) / len(kwargs))

In [5]:
min_score, max_score = get_min_max_score(k, e, m, s)
average = get_average(k=k, e=e, m=m, s=s)
print(f'최소점수: {min_score:.1f}, 최대점수: {max_score:.1f}, 평균점수: {average_score:.1f}')

NameError: name 'average_score' is not defined

### 32.5 심사문제: 파일 이름을 한꺼번에 바꾸기

표준 입력으로 숫자.확장자 형식으로 된 파일 이름 여러 개가 입력됩니다. 다음 소스 코드를 완성하여 파일 이름이 숫자 3개이면서 앞에 0이 들어가는 형식으로 출력되게 만드세요. 예를 들어 1.png는 001.png, 99.docx는 099.docx, 100.xlsx는 100.xlsx처럼 출력되어야 합니다. 그리고 람다 표현식을 사용해야 하며 출력 결과는 리스트 형태라야 합니다. 람다 표현식에서 파일명을 처리할 때는 문자열 포매팅과 문자열 메서드를 활용하세요.

In [14]:
files = input().split()
print(list(map(lambda x:'{0:03d}'.{1} format split('.')int(x.split('.')[0]))))

# 내가 푼 틀린 풀이 ㅋ

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3482769701.py, line 2)

In [ ]:
files = input().split() # ['97.xlsx', '98.docx', '99.docx', '100.xlsx', '101.docx', '102.docx']

a = list(map(lambda x : '{0:03d}'.format(int(x.split('.')[0]))+ '.' + x.split('.')[1], files))

print(a) 

# 내가 푼 틀린 풀이 ㅋ

In [6]:
filename = '1.jpg'
num = int(filename.split('.')[0])
ext = filename.split('.')[1]
print(f'{num:03d}.{ext}')

001.jpg

In [7]:
# files =  ['1.png', '10.jpg', '99.docs', '101.gif']
files = input().split()
print(list(map(lambda x: f"{int(x.split('.')[0]):03d}.{x.split('.')[1]}" , files)))

['098.docx', '099.docx', '100.xlsx']